:root {
    --size: 550px;
}

* {
    margin: 0;
}

body {
    background-color: #F5F5DC;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------- Container ----------*/

#container {
    display: flex;
    flex-direction: column;
    width: calc(var(--size) * 1.4);
    background-color: red;
    border-radius: 5%;
}

/*---------- Title ----------*/

#container span {
    text-align: center;
    margin: 30px 0;
    font-size: 32px;
}

/*---------- Buttons ----------*/

#buttons {
    display: flex;
    justify-content: space-between;
}

#buttons button {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin: 0 10px 10px;
}

/*---------- Grid ----------*/

#grid {
    display: grid;
    width: var(--size);
    height: var(--size);
    margin: 0 auto;
    background-color: lightgray;
}